/* Importing Fonts from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");


/* Body Styling */

body {
  font-family: "Inter", sans-serif;
  
}

/* Section */

section {
  font-size: 32px;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* - Weights: 300, 500, 700 */
/* 
- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */
