@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(154, 59%, 51%);
  background-image: url(./images/bg-intro-desktop.png);
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  padding: 40px;
}
.container > .container1 {
  flex: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
